extends layouts/_layout

block content
  script(async='' defer='' src='https://apis.google.com/js/api.js?onload=startApp')
  .init#init
    h1 Restaurant Selector
    | The Google form can be found&nbsp
    a(href='https://docs.google.com/forms/d/e/1FAIpQLSdZ-b8Flj8sAlHStgYjk1LJGkCD0PhUiAq3Jy_hA3mCcJF_bg/viewform?usp=sf_link') here
    | .
    br
    br
    button.google.button#signInButton Login with Google
  .selector#selector
    .selector-text#selector-text
    i.user#user
    br
    .countdown#countdown
    button.button#selector-button(onclick='countdown()') Pick a Restaurant!
    button.button.restart#restart-button(onclick='restartSelection()') Retry
