- var scripts = []
- function add_script(new_script) { scripts.push(new_script); }

- add_script('papaparse')
- add_script('google_auth')
- add_script('parse_restaurants')
- add_script('selector')
- add_script('helpers')
