footer
  script(src="build/js/papaparse.min.js")
  script(src='build/js/google_auth.min.js')
  script(src='build/js/wheel_prep.min.js')
  script(async='', defer='', src='https://apis.google.com/js/api.js?onload=startApp')