head
  title Restaurant Selector
  link(rel='stylesheet' type='text/css' href='build/css/style.min.css')
  meta(name='google-signin-client_id' content='1091611837858-sbt44ue42qsqtuf975kd5548nodal0sf.apps.googleusercontent.com')
  meta(name='google-signin-scope' content='profile https://www.googleapis.com/auth/drive')
