@import 'color';
@import 'mixins';

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

$selection-time: 3s;
$reset-time: .5s;

.red {
  background-color: $red;
  transition: $reset-time;
}

.green {
  background-color: $green;
  transition: $selection-time;
}

.init {
  @include center;

  display: block;
}

.button {
  background-color: $blue;
  border: 2px solid $gray;
  border-radius: 20px;
  font-size: 16pt;
  transition: 1s;

  &:hover {
    border: 5px solid $dark-gray;
    transition: 1s;
  }

  &.restart {
    display: none;
    margin: auto;
  }
}

.selector {
  @include center;

  display: none;
  font-size: 8pt;

  .grow {
    font-size: 72pt;
    transition: $selection-time;
  }

  .shrink {
    font-size: 8pt;
    transition: $reset-time;
  }

  .countdown {
    font-size: 72pt;
  }
}
